<nav class="navbar navbar-expand-lg navbar-dark bg-danger pb-2 pt-2 mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Products/Index">Product List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Students/Index">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Foods/Index">Foods</a>
                </li>
            </ul>
        </div>
    </div>
</nav>